{% extends '/base.html' %}
{% block content %}
  

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 forms">

    <h2 class="form-header">Update Password</h2>
    <form action="{{ url_for('users.edit_password', user_id=user.id) }}?_method=PATCH" method="POST">
      {{ form.csrf_token }}
       <div class="form-group form-label">
        {{ form.old_password.label }}: 
        {{ form.old_password(placeholder="Old Password", class="form-control") }}
         <span class="help-block">
           {% if form.old_password.errors %}
             {% for error in form.old_password.errors %}
               {{ error }}
             {% endfor %}
           {% endif %}
         </span>
       </div>    
      <div class="form-group">
       {{ form.new_password.label }}: 
       {{ form.new_password(placeholder="New Password", class="form-control") }}
        <span class="help-block">
          {% if form.new_password.errors %}
            {% for error in form.new_password.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div> 
      <div class="form-group">
       {{ form.confirm_password.label }}: 
       {{ form.confirm_password(placeholder="Confirm New Password", class="form-control") }}
        <span class="help-block">
          {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div> 
      <div class="text-center">
        <button class="btn btn-success btn-outline" type="submit">Update Password</button>
      </div>
    </form>
    </div>
  </div>

{% endblock %}