{% extends 'base.html' %}
{% block content %}

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="well">
        <h1 class="well-text">Welcome {{ user.first_name }},</h1>
        <h3 class="well-text">you have {{ favorites|length }} favorite locations.</h3>
        {% if favorites|length == 0 %}
          <div class="text-center">
            <button class="btn btn-success btn-outline"><a href="{{ url_for('users.map', user_id=user.id) }}">Start Mapping</a></button>
          </div>
        {% else %}
          <div class="text-center">
            <button class="btn btn-success btn-outline"><a href="{{ url_for('favorites.index', user_id=user.id) }}">View Favorite Locations</a></button>
          </div>
          <h4 class="well-text">Or</h4>
          <div class="text-center">
            <button class="btn btn-success btn-outline"><a href="{{ url_for('users.map', user_id=user.id) }}">Map More Locations</a></button>
          </div>
        {% endif %}

      </div>
    </div>
  </div>

  
{% endblock %}