{% extends 'base.html' %}
{% block content %}

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 forms">
    
    <h2 class="form-header">Welcome to MapIt</h2>
    <form method="POST" action="{{url_for('users.signup')}}">
      {{ form.csrf_token }}
       <div class="form-group">
        {{ form.username.label }}: 
        {{ form.username(placeholder="Username", class="form-control") }}
         <span class="help-block">
           {% if form.username.errors %}
             {% for error in form.username.errors %}
               {{ error }}
             {% endfor %}
           {% endif %}
         </span>
       </div>    
      <div class="form-group">
       {{ form.email.label }}: 
       {{ form.email(placeholder="Email", class="form-control") }}
        <span class="help-block">
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div> 
      <div class="form-group">
       {{ form.first_name.label }}: 
       {{ form.first_name(placeholder="First Name", class="form-control") }}
        <span class="help-block">
          {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
      <div class="form-group">
       {{ form.last_name.label }}: 
       {{ form.last_name(placeholder="Last Name", class="form-control") }}
        <span class="help-block">
          {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
      <div class="form-group">
       {{ form.password.label }}: 
       {{ form.password(placeholder="Password", class="form-control") }}
        <span class="help-block">
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div> 
      <div class="form-group">
       {{ form.confirm_password.label }}: 
       {{ form.confirm_password(placeholder="Confirm Password", class="form-control") }}
        <span class="help-block">
          {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div> 
      <div class="text-center">
        <button class="btn btn-success btn-outline" type="submit">Sign Up</button>
      </div>
    </form>
    </div>
  </div>
  
  <br>
  <div class="text-center">
    <button class="btn btn-success btn-outline"><a href="{{ url_for('users.login') }}">Already have an account?</a></button>
  </div>
{% endblock %}
