body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 50px;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  background-color: green;
  font-family: 'Lobster', cursive;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 200%;
}

.navbar-default ul.navbar-nav li a{
  color: white;
  font-size: 150%;
}

.navbar-default ul.navbar-nav li a:hover, .navbar-default .navbar-brand:hover {
  color: green;
  background-color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: green;
  background-color: white;
}

.navbar-nav>li>.dropdown-menu {
  background-color: green;
  border: none;
}

.navbar-default ul.dropdown-menu li a:hover {
  background-color: white;
  color: green;
  font-size: 150%;
}

.navbar-default .navbar-nav>li>a {
  margin-left: 20px;
}

table {
  margin-top: 20px;
  border-collapse: separate;
}

table thead tr th:first-child {
  border-top-left-radius: 10px;
}

.table>thead>tr>th {
  font-size: 20px;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.table>thead:first-child>tr:first-child>th {
  border-top: 2px solid green;
}

.table>thead>tr>th:first-child {
  border-left: 2px solid green;
  border-top-left-radius: 10px;
}

.table>thead>tr>th:last-child {
  border-right: 2px solid green;
  border-top-right-radius: 10px;
}

.table>tbody>tr>td  {
  vertical-align: middle;
  border-bottom: 2px solid green;
  border-top: none;
}

.table>tbody>tr>td:first-child{
  border-left: 2px solid green;
}

.table>tbody>tr>td:last-child{
  border-right: 2px solid green;
}

tr {
  font-size: 18px;
  background-color: transparent;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

#table-header {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: green;
}

.help-block {
  color: red;
}

.forms {
  background: rgba(230, 230, 230, 0.7);
  border: 2px solid green;
  border-radius: 10px;
  margin-top: 50px;
  padding-bottom: 20px;
}

.form-header {
  color: green;
  font-family: 'Lobster', cursive;
  padding-bottom: 10px;
  text-align: center;
}

.alert.flash-msg {
  margin-bottom: 0;
  -moz-animation: hideFlash 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: hideFlash 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: hideFlash 0s ease-in 5s forwards;
  /* Opera */
  animation: hideFlash 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes hideFlash {
  to {
    width:0;
    height:0;
    padding:0;
    overflow:hidden;
  }
}
@-webkit-keyframes hideFlash {
  to {
    width:0;
    height:0;
    padding:0;
    visibility:hidden;
  }
}

.well {
  text-align: center;
  border: 2px solid green;
  border-radius: 10px;
  background: rgba(230, 230, 230, 0.7);
  margin-top: 30px;
}

.well-text{
  color: black;
  font-family: 'Lobster', cursive;
  margin-top: 15px;
}

.btn-outline {
  font-family: 'Lobster', cursive;
  font-size: 150%;
  text-align: center;
  background: none;
  color: green;
  border: 2px solid green;
  margin-top: 10px;
}

#mapit-btn {
  font-family: 'Lobster', cursive;
}

#empty-heart {
  color: white;
}

.delete-button {
  color: red;
}