html, body, #map{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#input-location {
  color: green;
  font-family: 'Ubuntu', sans-serif;
  width: 250px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding-left: 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#input-location:focus {
  width: 500px;
  outline: none;
}

#map {
  position: relative;
}

#full-location {
  font-size: 18px;
}

#search-box {
  visibility: hidden;
  position: absolute;
  width: 35%;
  top: 250px;
  left: 30%;
  z-index: 5;
  border: 2px solid green;
  border-radius: 25px;
  background: rgba(230, 230, 230, 0.4);
  box-shadow: 6px 6px 12px grey;
  font-family: 'Ubuntu', sans-serif;
  line-height: 40px;
  cursor: move;
}

#search-list {
  width: 100%;
  font-size: 130%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search-list li {
  border: 1px solid green;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  display: block;
  border-radius: 2px ;
  cursor: pointer;
}

#info-panel {
  visibility: hidden;
  position: absolute;
  width: 25%;
  top: 70px;
  left: 20px;
  border: 2px solid green;
  border-radius: 25px;
  background: rgba(230, 230, 230, 0.4);
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  cursor: move;
}

div.alert, div.alert-info {
  margin: 20px;
  line-height: 20px;
  font-size: 90%;
  text-align: center; 
  background-color: white;
  color: green;
  border: 2px solid green;
  border-radius: 10px;
  cursor: default;
}

.glyphicon {
  font-size: 18px;
  color: red;
  padding-left: 8px;
}

#digital-clock {
  position: absolute;
  float: right;
  text-align:center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  height: 150px;
  width: 400px;
  top: 70px;
  right: 20px;
  border: 2px solid green;
  border-radius: 10px;
  background: rgba(230, 230, 230, 0.8);
  cursor: move;
}

#clock{
  font-size: 60px;
  text-shadow:0px 0px 1px #fff;
  color:green;
}

#seconds {
  font-size: 35px;
  font-weight: none;
  margin-left: 5px;
}

#ampm {
  color: white;
  text-shadow:0px 0px 1px #333;
  font-size:30px;

}
#date {
  letter-spacing: 5px;
  font-size: 16px;
  color:black;
  display: block;
}

#timezone{
  letter-spacing: 3px;
  color:green;
  font-size: 14px;
  padding-top: 10px;
}